body{
    min-height: 100%;
    padding: 0;
    margin: 0;
}

.container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.main-content{
    background-color: #00ff00;
    width: 100%;
    min-height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.add-widget{
    background-color: #ff0000;
    width: 20%;
    min-height: 100%;
    position: fixed;
    left: 0;
}

.edit-widget{
    background-color: #0000ff;
    width: 20%;
    min-height: 50%;
    position: fixed;
    right: 0;
    bottom: 0;
    visibility: hidden;
}

.add-button-show{
    position: fixed;
    left: 2px;
    bottom: 2px;
    visibility: hidden;
}

.add-button-hide{
    position: absolute;
    right: 2px;
    top: 2px;
}

.edit-button-hide{
    position: absolute;
    right: 2px;
    top: 2px;
}

.edit-button-show{
    position: absolute;
    right: 30px;
    top: 2px;
}